* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-logo {
  display: flex;
  align-items: flex-start;
  height: 0px;
  width: 10rem;
  padding-left: 3rem;
  padding-top: 2rem;
}
.clock-logo img {
  width: 3rem;
  height: 6rem;
  border: 0.1rem solid black;
}
.clock-container {
  border-radius: 7rem;
  height: auto;
  border: 0.3rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 0.9 1 0;
}
p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
}
.period {
  font-size: 7rem;
}
.hours,
.minutes,
.seconds {
  font-size: 7rem;
}

@media screen and (max-width: 768px) {
  p {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: black;
  }
  .period {
    font-size: 3rem;
  }
  .hours,
  .minutes,
  .seconds {
    font-size: 4rem;
  }
}
